[Unit]
Description=GD-Tools Agent (System Management)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/gd-tools
User=root
Group=root
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

NoNewPrivileges=no
PrivateTmp=no
ProtectSystem=off
ProtectHome=no
ProtectKernelModules=no
ProtectKernelTunables=no
ProtectControlGroups=no
ReadWritePaths=/
ReadOnlyPaths=

Restart=on-failure
RestartSec=3s

StandardOutput=journal+console
StandardError=journal+console

LimitNOFILE=65536

[Install]
WantedBy=multi-user.target

