[Unit]
Description=RustDesk HBBS (ID / Rendezvous Server)
RequiresMountsFor={{.ToolsDir}}
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=rustdesk
Group=rustdesk
WorkingDirectory={{.DataDir}}

ExecStart={{.DataDir}}/amd64/hbbs -p 21115 -r {{.FQDN}}:21117

Restart=always
RestartSec=2

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths={{.DataDir}}

[Install]
WantedBy=multi-user.target

